<section class="container box-voto center-align espaco-m-top-1  grey lighten-5 borda">
    <div class="row">
        <div class="col s12 m12 l12 p-3">
            <div class="">
                <div class="row">
                    <div class="col s12">
                        <h3 class="texto-uppercase negrito">Urna electrónica</h3>
                    </div>
                    <div class="col s12 p-3">
                        <div class="borda m-2 p-3">
                            <div class="row">
                                <div class="col s12">
                                    <h5>Informe o número de bilhete de identidade ou número de eleitor</h5>
                                </div>
                                <div class="col s12">
                                    <form action="">
                                        <div class="row">
                                            <div class="col s12">
                                                <input type="text" class="center-align center browser-default estilo-input">
                                            </div>
                                        </div>
    
                                        <div class="row container">
                                            <div class="row">
                                                <div class="col s12 m6 l6 offset-l6 offset-m6">
                                                            <button class="btn z-depth-0 ms-2 red negrito btn-large">Cancelar</button>
                                                            <button class="btn z-depth-0 ms-2 amber negrito btn-large">Limpar</button>
                                                            <button class="btn z-depth-0 ms-2 green negrito btn-large">Confirmar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>